{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ title }} {% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('pl') }}
{% endblock %}
{% block navbar %}
    {% include "include/navbar.html" %}
{% endblock %}
{% block content %}
    <div class="container mt-2">
        <form method="post" action="/user">
            {{ userForm.hidden_tag() }}
            {{ userForm.userName.label(class_="form-label")}}
            {{ userForm.userName(class_="form-control") }}
            {{ userForm.submit(class_="btn btn-danger") }}
        </form>
        {{ wtf.quick_form(userForm) }}
        {{ wtf.quick_form(userForm, action='/user') }}
        {{ wtf.quick_form(userForm, action=url_for('user')) }}
    </div>
{% endblock %}